body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 16px;
}

.header-section {
   position: fixed;
   width: 100%;
   top: 0;
   padding: 15px 0;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
   background-color: #fff;
}

.logo {
   transition: all 0.4s ease;
}

.header-ul {
   margin-left: 374px;
}

.header-li a {
   padding: 16px 8px;
   color: #000;
   border-bottom: 3px solid transparent;
   transition: all 0.4s ease;
}

.btn {
   padding: 8px 30px;
   border-radius: 5px;
   color: #fff;
   background-color: #00BAFC;
   border: 2px solid transparent;
   transition: all 0.4s ease;
}

.header-btn {
   margin-left: 20px;
}

.main-div {
   padding-top: 150px;
   padding-bottom: 40px;
}

.main-h2 {
   width: 470px;
   font-size: 30px;
   line-height: 130%;
   padding-bottom: 16px;
}

.main-p {
   width: 465px;
   padding-bottom: 25px;
}

.all-btn {
   transition: all 0.4s ease;
}

.main-btn {
   margin-left: 0;
}

.services-div {
   padding: 40px 0;
}

.services-h2 {
   margin-bottom: 16px;
}

.services-product {
   width: 320px;
   height: 260px;
   padding-top: 30px;
   box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   transition: all 0.4s ease;
}

.product {
   margin-right: 70px;
}

.services-item2 {
   margin: 60px 0;
   
}

.services-item-h3 {
   font-size: 20px;
   margin: 16px 0;
}

.before0::before {
   height: 130px;
   content: "";
   display: inline-block;
   background-repeat: no-repeat;
}

.before1::before {
   width: 202px;
   background-image: url(../img/services1.svg);
}
.before2::before {
   width: 222px;
   background-image: url(../img/services2.svg);
}
.before3::before {
   width: 176px;
   background-image: url(../img/services3.svg);
}
.before4::before {
   width: 178px;
   background-image: url(../img/services4.svg);
}
.before5::before {
   width: 169px;
   background-image: url(../img/services5.svg);
}

.services-btn {
   text-decoration-line: underline;
   margin-left: 30px;
   color: #00BAFC;
}

.work-div {
   padding: 56px 0;
}

.work-title {
   padding-bottom: 20px;
}

.work-h3 {
   font-size: 24px;
   margin-bottom: 16px;
}

.work-li {
   margin-bottom: 50px;
}

.work-ol-text {
   margin-left: 35px;
   margin-right: 50px;
   text-align: start;
}

.work-ol-h4 {
   font-size: 20px;
   margin-bottom: 6px;
}

.reverse {
   flex-direction: row-reverse;
}

.before-li0::before {
   width: 300px;
   content: "";
   display: inline-block;
   background-repeat: no-repeat;
}

.before-li1::before {
   height: 278px;
   background-image: url(../img/ol1.svg);
}

.before-li2::before {
   height: 225px;
   background-image: url(../img/ol2.svg);
}

.before-li3::before {
   height: 259px;
   background-image: url(../img/ol3.svg);
}

.before-li4::before {
   height: 171px;
   background-image: url(../img/ol4.svg);
}

.before-li5::before {
   height: 232px;
   background-image: url(../img/ol5.svg);
}

.order-section {
   background-color: #00BAFC;
}

.order-div {
   padding: 60px 0;
}

.order-h4 {
   font-size: 24px;
   margin-bottom: 16px;
   color: #fff;
}

.order-p {
   color: #fff;
   margin-bottom: 25px;
}

.form-input {
   width: 384px;
   height: 304px;
   padding: 24px;
   margin: 0 auto;
   border-radius: 5px;
   background-color: #fff;
}

.order-input {
   width: 300px;
   height: 56px;
   margin-top: 16px;
   padding-left: 16px;
   border: none;
   border-radius: 5px;
   background: #F3F3F3;
}

.input-btn {
   display: inline-block;
   margin-top: 15px;
   border: none;
}

.footer-section {
   padding: 56px 0;
   background: #000;
}

.footer-title {
   margin-right: 120px;
}

.footer-h4 {
   font-size: 20px;
   margin-bottom: 16px;
   color: #fff;
}

.footer-p {
   width: 310px;
   color: #fff;
}

.footer-ul {
   margin-right: 100px;
}

.footer-ul-b {
   display: inline-block;
   font-size: 20px;
   margin-bottom: 16px;
   color: #fff;
}

.footer-li {
   display: flex;
   align-items: flex-start;
}

.footer-li a {
   display: inline-block;
   color: #fff;
   margin-bottom: 15px;
   transition: all 0.4s ease;
}

.footer-before0::before {
   width: 22px;
   height: 24px;
   content: "";
   margin-right: 10px;
   display: inline-block;
   background-repeat: no-repeat;
}

.footer-before1::before {
   background-image: url(../img/tg.svg);
}

.footer-before2::before {
   background-image: url(../img/face.svg);
}

.footer-before3::before {
   background-image: url(../img/insta.svg);
}


/* <------------ hover ------------> */

.logo:hover {
   opacity: 0.8;
}

.header-li a:hover {
   padding-bottom: 10px;
   border-bottom: 3px solid #191919;
}

.header-btn:hover {
   border: 2px solid #00BAFC;
   color: #00BAFC;
   background-color: transparent;
}

.logo:active {
   opacity: 0.4;
}

.header-li a:active {
   color: #fff;
   border-bottom: 2px solid rgba(25, 25, 25, 0.1);
   background: rgba(25, 25, 25, 0.7);
}

.header-btn:active {
   background: rgba(0, 186, 252, 0.7);
}

.all-btn:hover {
   background: rgba(0, 186, 252, 0.8);
}

.all-btn:active {
   background: rgba(0, 186, 252, 0.6);
}

.services-product:hover {
   box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.services-product:active {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.footer-li a:hover {
   color: #00BAFC;
}

.footer-li a:active {
   opacity: 0.6;
}